.card-body button {
  width: 150px;
  height: 40px;
  border-radius: 3px;
  background-color: #445A6F;
  border: 1px solid #445A6F;
  /* color: white; */
  font-size: 20px;
  margin: 20px 0;
}
.container label{
  font-size: 22px;
  margin-top: 20px;
  font-weight: 500;
}
.text{
  margin-top: 10px;
}
.text input {
  width: 465px;
  font-size: 18px;
  color: #555;
  padding: 10px 20px;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 5px 0px 0px 5px;
}

.text button {
  padding: 10px;
  margin: 0 0px;
  font-size: 18px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 0px 5px 5px 0px;
  transition: all 0.2s ease
}
.text button:active{
  background-color: rgb(255, 71, 71);
}
.text button:active i{
 transform: scale(1.5);
}


@media(max-width: 800px){
  .text input {
    width: 400px;
  }
}
@media(max-width: 500px){
  .text input {
    width: 300px;
  }
}